<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Awards</key>
	<string>In January 2015, Tennant received the National Television Award for Special Recognition.</string>
	<key>PopularRoles</key>
	<string>Tenth Doctor in the British television series Doctor Who, Alec Hardy in Broadchurch, Giacomo Casanova in the TV serial Casanova, and Barty Crouch, Jr in the film Harry Potter and the Goblet of Fire</string>
	<key>Spouse</key>
	<string>Georgia Moffett</string>
	<key>Birthday</key>
	<string>April 18, 1971</string>
	<key>Name</key>
	<string>David Tennant</string>
</dict>
</plist>
